{% extends 'base.html' %}

{% block container %}

<section>
    <div class="row mt-4 mb-4">
        <div class="col-lg-6">
        <img src="{{variation.image.first.file.product_list.url}}" class="card-img-top" alt="...">
        </div>
        <div class="col-lg-6">
            <h1>{{variation.name}}</h1>
            <p>
                 {{variation.description}} 
            </p>
             <p class="text-danger fw-bold">
             Price: 
                                {{variation.sale_price}} c/
                                <span class="text-decoration-line-through fw-normal text-muted ">
                                    {{variation.price}} c</span>
            </p>
        </div>
    </div>
    <section>
    <h2>Варианты</h2>
    <ul class="row ps-0 ms-0 list-unstyled">
                {% for variation in product.variations.all %}
                    <li class="col-xl-3 col-lg-4 col-md-6 mb-4">
                        <div class="card h-100">
                            <img src="{{variation.image.first.file.product_list.url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h3 class="card-title fs-4">{{variation.name}}</h3>
                                <p class="card-text">{{variation.description|slice:30}}</p>
                                <p class="text-danger fw-bold">
                                    {{variation.sale_price}} c/
                                    <span class="text-decoration-line-through fw-normal text-muted ">
                                        {{variation.price}} c</span>
                                </p>
                                <a href="/product/{{product.id}}?variation={{variation.id}}" class="btn btn-primary">More...</a>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <section>
</section>


{% endblock container %}