{% extends "base.html" %} {% block container %}
<section>
    <h1>Products</h1>
    <div class="row">
        <div class="col-lg-3 mb-4">
            <ul class="list-group">
                <a href="/product" class="list-group-item list-group-item-action {% if category_id == 0 %}active{% endif %}" aria-current="true">
                        All
                    </a> {% for category in categories %}
                <a href="/product?category={{category.id}}" title="{{category.description}}" class="list-group-item list-group-item-action {% if category.id == category_id %}active {% endif %}" aria-current="true">
                        {{category.name}}
                    </a> {% endfor %}
            </ul>
        </div>
        <div class="col-lg-9 ps-0">
            <ul class="row ps-0 ms-0 list-unstyled">
                {% for product in products %}
                <li class="col-xl-3 col-lg-4 col-md-6 mb-4">
                    <div class="card h-100">
                        <img src="{{product.variations.first.image.first.file.product_list.url}}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h3 class="card-title fs-4">{{product.name}}</h3>
                            <p class="card-text">{{product.description|slice:30}}</p>
                            <p class="text-danger fw-bold">
                                {{product.variations.first.sale_price}} c/
                                <span class="text-decoration-line-through fw-normal text-muted ">
                                    {{product.variations.first.price}} c</span>
                            </p>
                            <a href="{{product.get_absolute_url}}" class="btn btn-primary">More...</a>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <section>
        {% endblock container %}