.custom-container {
    min-height: calc(100vh - 100px);
}

.slider-img {
    filter: brightness(80%)
}

.category-title-home {
    text-decoration: none;
    color: black;
}

.copy-right {
    text-align: center;
    color: white;
    border: 1px solid transparent;
}

.copy-right p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.alert-custom {
    z-index: 1;
    right: 0px;
    margin: 10px;
}