<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
    {% for slide in slider %}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{forloop.counter0 }}" class="active" aria-current="true" aria-label="Slide {{forloop.counter}}"></button>
    {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for slide in slider %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <img src="{{slide.image.slider.url}}" class="d-block slider-img w-100" alt="{{slide.description}}">
                <div class="carousel-caption d-none d-md-block">
                    <h3>{{slide.title}}</h3>
                    <p class="fs-4 text-shadow">{{slide.description}}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>